html,body{
  background-image: url("./Neutral\ background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.title{
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.parent{
  width: 600px;
  height: 500px;
  position: relative;
  margin: auto;
}

 .child{
  position: absolute;
  border: solid;
}  

.child-box-image{
  left: 0;
  top: 0;
  width: 400px;
  height: 300px;
}

.child-box-about-me{
  left:300px;
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 45px;
} 

.headshot{
  width: 400px;
  height: 300px;
  object-fit: cover;
}
